#primary {
    box-sizing: border-box;

    /* Auto layout */
    display: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
    gap: 56px;

    width: 680px;
    height: 327px;

    text-align: center;

}

#info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 80px;


    position: absolute;
    width: 1040px;
    height: 447px;
    left: calc(50% - 1040px/2);
    top: 120px;


}

#stacks {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    width: 754px;
    height: 40px;


}

#stacks span {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    gap: 8px;

    width: 114px;
    height: 40px;

    background: #292C34;
    border-radius: 999px;


}

#primary p {
    margin-top: 10px;
    color: var(--gray-400);
}

#primary h2 a {
    color: var(--red)
}

#primary img#jorge{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

#nav span {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-top: 20px;

    width: 114px;
    height: 40px;

    background: #292C34;
    border-radius: 999px;

    width: 200px;
    height: 50px;


    background: #292C34;
    border-radius: 40px;


}